public/*
!public/assets/
!public/fonts/
!public/favicon.ico
!public/login.html
!public/login-styles.css
source/views/*
!source/views/*.src.js

/fixtures/
node_modules/
.DS_Store
Thumbs.db
.idea
*.sublime*
*.log
npm-debug.log*
logs/
