!public/assets/
public/index.js
public/index.css
!public/fonts/
!public/favicon.ico
source/views/*
!source/views/*.src.js

/fixtures/
node_modules/
.DS_Store
Thumbs.db
.idea
*.sublime*
*.log
npm-debug.log*
package-lock.json
logs/
